body {
    text-align: center;
}

p {
    margin: 0;
    padding: 10px;
    font-size: 20px;
}

h1 {
    padding: 20px 0 10px 0;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

h2 {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

header {
    background-color: brown;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
}

.row {
    height: inherit;
}

.col-md-6 {
    min-height: 500px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
}

.col-md-6:hover,
.img-responsive:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gauche {
    background-color: azure;
}

.droite {
    background-color: lightgray;
}

.img-responsive {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    border: 3px solid #222;
    border-radius: 80px;
    margin: auto;
    vertical-align: middle;
    max-height: 400px;
    max-width: 400px;
}

footer {
    background-color: brown;
}

footer:hover {
    background-color: darkred;
}