<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>
        <%= titre %>
    </title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="style/style.css">
</head>

<script src="javascripts/main.js"></script>

<body onload="initTwoRamdomCats()" onkeydown="voteAvecKey(event)">
    <div class="VS"><img src="images/vs.png">
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 gauche">
                <img onclick="voteChat(`gauche`)" class="img-responsive" id="gauche" src="">
            </div>
            <div class="col-md-6 droite">
                <img onclick="voteChat(`droite`)" class="img-responsive" id="droite" src="">
            </div>
        </div>
    </div>
    <div></div>

    <a href="/resultats">
        <footer>
            <h2>Score de ces chats</h2>
        </footer>
    </a>

</body>

</html>