<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>
        <%= titre %>
    </title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="style/style.css">
</head>

<body>

    <header>
        <h1>CatMash</h1>
        <p>Quel est le chat le plus mignon ?</p>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 gauche" >
                <img class="img-responsive" id="gauche" src="">
            </div>
            <div class="col-md-6 droite">
                <img class="img-responsive" id="droite" src="">
            </div>
        </div>
    </div>

    <footer>
        <h2>Score de ces chats</h2>
    </footer>

</body>

<script>
    $.ajax({ //Affiche aléatoirement deux chats
        type: "GET",
        url: "/chats"
    }).done(function(data) {
        console.log(data[1].url)
        $("#gauche").attr('src',data[0].url)
        $("#droite").attr('src',data[1].url)
    }).fail(function(req, text_status, err) {
        console.log(err);
        alert("Impossible d'obtenir la liste des chats : "+ err);
    });
</script>

</html>