<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>
        <%= titre %>
    </title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="style/style.css">
</head>
<script src="javascripts/main.js"></script>

<body class="resultats" onload="displayVote()">
    <header>
        <a href="/"><img src="images/arrow_left.png"></a>
        <h1>Quel est le chat le plus mignon ?</h1>
    </header>

    <div class="container">
        <div class="row" id="grid">
        </div>
    </div>
</body>
    
</html>